<h1>Create a new social hotspot!</h1>
<p>There is currently no hotspot inside the train you've entered. How about you create one?</p>

<%= form_for :hotspot, url: hotspots_path do |f| %>
  <p>
    <%= f.label :train %><br>
    <%= f.text_field :train %>
  </p>
  <p>
    <%= f.label :car %><br>
    <%= f.text_field :car %>
  </p>
  <p>
    <%= f.label :seat %><br>
    <%= f.text_area :seat %>
  </p>

  <p>
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
